* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    color: #FBFCFF;
    font-family: 'Inter', sans-serif;
    transition: 0.6s all;
}

.container {
    width: 1264px;
    margin: 0 auto;
    position: relative;
}

.additional {
    height: 100px;
}

.navigation {
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);
}

.nav__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__btn {
    width: 227px;
    height: 62px;
    background: #C94C2E;
    font-weight: 700;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

h1 {
    font-weight: 600;
    font-size: 34px;
    color: #C94C2E;
    padding: 30px 0;
    font-weight: 900;
}

.bot {
    width: 100%;
    position: relative;
    min-height: 630px;
    background: #FFFFFF;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.13);

}

.bot__wrapper {
    padding-top: 23px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.bot__outline {
    width: 500px;
    height: 59px;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 25px;
    border: 1px solid #C0C0C0;
}

.bot__left {
    width: 542px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.bot__right {
    width: 542px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.bot__left form input {
    margin-bottom: 30px;
}

.bot__right form input {
    margin-bottom: 30px;
}

.bot__right form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
}

#enableSecond {
    position: absolute;
    right: 18%;
    top: 98%;
}

.bot__wrapper .enableSecondClass {
    position: absolute;
    right: 0%;
    top: 97%;
}

.bot__radios {
    display: flex;
    align-items: baseline;
}

.bot__radios input {
    margin-right: 7px;
}

.bot label {
    font-weight: 400;
    font-size: 14px;
    color: #959595;
    margin-right: 20px;
}

.divider {
    position: absolute;
    left: 50%;
    top: 50px;
    width: 0px;
    height: 400px;
    border: 1px solid #e7e7e7;
}

.hide {
    opacity: 0.33;
}

.btns__wrapper {
    display: flex;
    position: absolute;
    bottom: -20%;
    right: -20px;
}

.btn {
    width: 54px;
    height: 54px;
    background: #C94C2E;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    opacity: 1;
    margin-right: 20px;
    cursor: pointer;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.play img {
    width: 80%;
}

.pause {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.pause img {
    width: 80%;
}

.stop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stop img {
    width: 80%;
}

.btnHide {
    display: none;
}

#requiredCheck {
    position: absolute;
    bottom: 5%;
    right: 36%;
}

.requiredTitle {
    position: absolute;
    bottom: 19px;
    right: 62px;
}

.requiredTitle a {
    color: #C94C2E;
}

select {
    margin-bottom: 30px;
}

.modal__inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    z-index: 1000;
}

.modal__wrapper {
    width: 525px;
    height: 478px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
}

.modal__wrapper form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C4C4C4;
    font-weight: 400;
    font-size: 14px;
}

.modal__wrapper input {
    width: 419px;
    height: 49px;
    background: #E8EEF6;
    border: none;
    margin-bottom: 55px;
    padding: 0 20px;
}

.modal__wrapper button {
    width: 129px;
    height: 44px;
    background: #C94C2E;
    border: none;
    color: white;
    cursor: pointer;
}

.modal__overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(237, 241, 248, 0.513);
    z-index: 900;

}

.modal__heading {
    font-weight: 700;
    font-size: 26px;
    color: #000000;
}

.modal__close {
    display: inline;
    position: absolute;
    top: 0;
    right: -10%;
    cursor: pointer;
}

.modalShow {
    display: block;
}

.modalHide {
    display: none;
}

#Mode,
#INN,
#Mode2,
#INN2 {
    color: #767676;
}

.timer {
    margin-top: 60px;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.price_step {
    color: rgb(90, 90, 90);
    position: absolute;
    right: 81px;
    top: 120px;
    background-color: #eceff3;
}

.price_step__wrapper {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.price_step__wrapper h2 {
    margin: 0;
    font-weight: 500;
}

.displayNone {
    display: none;
}

.showCaseBtn {
    width: 227px;
    height: 62px;
    background: #C94C2E;
    font-weight: 700;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}